<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Viking Code</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">    
</head>
<body>
    <div>
        <h2>Coisas no DB:</h2>
        <h2>Olá {{ request.user }}</h2>
        {% for item in Perfil %}
            <div class="modal-body" id="dynamic-content">
                <img src="{{ item.PlayerImg.url }}" class="img-fluid" alt="img 404"/>
            </div>
            <p>{{ item.PlayerName }}</p>
            <p>{{ item.From }}</p>
            <p>{{ item.MsgBody }}</p>
        {% endfor %}
    </div>
{% bootstrap_javascript %}
</body>
</html>